.App, #root, body{
  margin: 0;
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 60%);
}
nav{
  background-color: black;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .1);
}
.logoContainer{
  height: 60px;
  display: flex;
}
.navSearch{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}
.searchIcon{
  position: relative;
  left: 30px;
}
.search{
  padding: 8px 10px;
  padding-left: 40px;
  background-color: #ffff;
  border: 0;
  border-radius: 20px;
  width: 400px;
  font-size: 18px;
}
.search::placeholder{
  color: black;
  opacity: 1;
}
.logIn{
  color: #ffff;
  display: flex;
  gap: 15px;
  font-size: 24px;
  cursor: pointer;
  padding-right: 15px;
  align-items: center;
}
.profileIcon{
  height: 40px;
  width: 40px;
  background-color: #ffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon{
  color: black;
}
.home{
  padding-bottom: 20px;
}
.concertPicContainer{
  margin-bottom: -4px;
}
.homePic{
  height: 50vh;
  width: 100vw;
  object-fit: cover; 
  object-position: center;
}
.picSubtitle{
  max-width: 52vw;
  margin-left: 35px;
  font-size: clamp(20px,3.6vw,3.4rem);
  font-weight: bold;
  color: #ffff;
  position: absolute;
  top: 160px;
}
.picSubtitle > span{
  box-shadow: inset 0 -0.6em 0 0 rgba(0, 0, 0, 70%);
}
.eventSection{
  position: relative;
}
.eventSectionTitle{
  display: flex;
  align-items: center;
}
.hrHome{
  width:100%;
  color: #ffff;
}
.eventContainer{
  display: grid;
  grid-template-columns: repeat(5,100%);
  overflow:hidden;
}
.section{
  padding: 35px 0;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.section.activeLeft{
  animation: fade-left 0.2s ease-in;
}
.section.activeRight{
  animation: fade-right 0.2s ease-in;
}
.singleElementContainer{
  padding: 0 2px;
  transition: 250ms all;
}
.singleElementContainer:hover{
  margin: 0 40px;
  transform: scale(1.2);
}
.eventPic{
  height: 170px;
  width:337px;
  object-fit: cover; 
  object-position: center;
}
.eventSubContainer{
  background-color: #ffff;
  width:317px;
  padding: 10px;
  height: 60px;
}
.emptyPic{
  height: 170px;
  margin-bottom: 4px;
  background-color: #ffff;
  animation: loading 1s linear infinite alternate;
}
.emptyDesc{
  height: 60px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffff;
}
.fakeText1, .fakeText2{
  width: 100%;
  height: 18px;
  opacity: 0.7;
  animation: loading 1s linear infinite alternate;
  border-radius: 0.25rem;
}
.fakeText2{
  height: 14px;
}
.subEvent{
  font-size: 18px;
  font-weight: bold;
}
.eventLocation{
  font-size: 14px;
  color: rgb(46, 44, 44);
}
.arrow{
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background:rgba(0, 0, 0, 60%);
  width: 80px;
  margin-top: 95px;
  padding: 20px;
  text-align: center;
  z-index: 1;
  height: 214px;
  cursor: pointer;
}
.leftArrow {
  top:0; bottom:0; left:0;
  background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,60%) 100%);
}
.rigthArrow{
  top:0; bottom:0; right: 0;
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,60%) 100%);
}
.selectedPage{
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  cursor: pointer;
  position: relative;
  bottom: 10px;
  z-index: 1;
}
.selectedContainer{
  height: 20px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 60%), !important; 
}
.selectedSection{
  background-color: black;
  height: 3px;
  width: 30px;
  border-radius: 2px;
}
.eventDetailPic{
  opacity: 70%;
}
.eventDetail{
  color: #ffff;
  padding: 15px 35px;
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  font-size: 29px;
}
.leftSide, .rightSide{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.rightSide{
  position: relative;
  bottom: 80px;
}
.location{
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 500;
}
.buyTickets:before {
  position: absolute; 
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: 0 bottom 0;
  transform: scaleY(0);
  transition: .4s ease-out;
}
.buyTickets{
  background-color: #ffff;
  padding: 8px 52px;
  text-decoration: none;
  text-align: center;
  position: relative;
}
.buyTickets:hover:before{
  transform: scaleY(1);
}
.buyTickets:hover .btnText{
  color: #ffff;
}
.btnText {
	position: relative;
	font-weight: bold;
	line-height: 1.333;
	transition: .4s ease-out;
  color: black;
}
.countdown{
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.countDetail{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px;
}
.countTitle, .timeRef{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: black;
  background-color: #ffff;
}
.timeNum{
  text-align: center;
  background-color: #414141;
  color: #ffff;
  font-weight: bold;
}
.timeRef{
  font-size: 12px;
}

.google-map {
  width: 120%;
  height: 200px;
}

.pin {
  display: flex;
  align-items: center;
}

.pin-icon {
  font-size: 26px;
  color: #ffff;
}
.likeShare{
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 40px;
}
.friendsGoing{
  background-color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  color: black;
  margin-bottom: 47px;
}
.interested{
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 4px;
}
.boldText{
  font-weight: bold;
}
.friendList{
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  position: relative;
  left: 60px;
}
.profileIconTest{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #414141;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: solid 2px #fff;
}
.friend1{
  position: relative;
  right: 22px;
}
.friend2{
  position: relative;
  right: 44px;
}
.friend3{
  position: relative;
  right: 66px;
}
.smallNum{
  font-size: 13px;
}

@keyframes fade-left {
  0% {
    transform: translateX(-100vw);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100vw);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes loading {
  0%{
    background-color: hsl(204, 8%, 75%);
  }
  100%{
    background-color: hsl(200, 20%, 100%);
  }
}
